<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.fandm.engagenow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/engage_now_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngageNow"
        tools:targetApi="31">
        <activity
            android:name=".EventsList"
            android:exported="false" />
        <activity
            android:name=".EventPreferences"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/place_holder_fore_ground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/sunset_orange" />

        <activity
            android:name=".EventDashboard"
            android:exported="false" />
        <activity
            android:name=".VolunteerRegistration"
            android:exported="false" />
        <activity
            android:name=".OrganizationRegistration"
            android:exported="false" />
        <activity
            android:name=".EventRegistration"
            android:exported="false" />
        <activity
            android:name=".VolunteerChat"
            android:exported="false" />
        <activity
            android:name=".VolunteerChatList"
            android:exported="false" />
        <activity
            android:name=".OrganizationPotentialMatches"
            android:exported="false" />
        <activity
            android:name=".VolunteerPreferences"
            android:exported="false" />
        <activity
            android:name=".VolunteerSwiping"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".OrganizationChat"
            android:exported="false" />
        <activity
            android:name=".OrganizationChatList"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>